<!DOCTYPE html>
<html>
<head>
  <title>MusicShop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

| <%= link_to "Product Catalogue", products_path %> |
<%= link_to "Leave Site", :controller => "welcome", :action => "thank_you" %> |
<%= link_to "Registration", :controller => "welcome", :action => "registration" %> |
<%= link_to "Home", :controller => "welcome", :action => "home" %> |
<%= yield %>

</body>
</html>
